<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Capstone Project</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css"
  </head>
  <body>
    <form action="/" id="form" class="form" method="POST">
      <label for="anime-genres">Select an Anime Genre</label><br />
      <select name="type" class="form-select">
        <option value="action">Action</option>
        <option value="adventure">Adventure</option>
        <option value="avant garde">Avant Garde</option>
        <option value="award winning">Award Winning</option>
        <option value="comedy">Comedy</option>
        <option value="drama">Drama</option>
        <option value="fantasy">Fantasy</option>
        <option value="gourmet">Gorumet</option>
        <option value="horror">Horror</option>
        <option value="mystery">Mystery</option>
        <option value="romance">Romance</option>
        <option value="sci-fi">Sci-Fi</option>
        <option value="slice-of-life">Slice of Life</option>
        <option value="sports">Sports</option>
        <option value="supernatural">Supernatural</option>
        <option value="suspense">Suspense</option>
      </select>
      <button type="submit" class="form-submit">Go</button>
    </form>
  </body>
</html>
